# Fichiers système
.DS_Store

# Dossiers générés
__pycache__/
dist/
build/

# Environnement virtuel
venv/
.env/

# Fichiers utilisateur
*.pyc
*.pyo
*.pyd
*.pyz

# Fichiers de sauvegarde
*.bak
*.swp
*~

# Dossiers
Code/src/
Documents/Rapports/
Documents/Autres/
Resources/Images/
Resources/Autres/
